:root {
  --font-family: "Inter", sans-serif;
  --spacing-xs: 4px;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  --font-size-small: calc(var(--font-size-medium) * 0.8);
  --font-size-medium: 16px;
  --font-size-large: calc(var(--font-size-medium) * 1.2);
  --color-primary: #000;
  --color-secondary: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  font-family: var(--font-family);
  display: contents;
  font-size: var(--font-size-medium);
}

#root {
  padding: var(--spacing-medium);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  height: 100vh;
  overflow: hidden;
}

nav {
  display: flex;
  gap: var(--spacing-small);

  .active {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 800;
  }
}

main {
  flex: 1;
  height: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
} 

button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: var(--spacing-xs);
  padding-inline: var(--spacing-small);
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
}

.big-button {
  font-weight: 800;
  white-space: nowrap;
  font-size: var(--font-size-large);
}

.full-width {
  width: 100%;
}

header {

  h1 {
    font-weight: 600;
    padding-bottom: var(--spacing-small);
    border-bottom: 1px solid #ccc;
  }

  nav {
    padding-block: var(--spacing-small);
    align-items: center;
    position: relative;
  }

  .about-icon {
    margin-left: auto;
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  flex: 1;
  height: 0;
}

.column {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  flex: 1;
}

:where(input, textarea) {
  padding-block: var(--spacing-xs);
  padding-inline: var(--spacing-small);
  border: 1px solid #ccc;
  border-radius: 4px;
}

input {
  min-height: 1lh;
}

textarea {
  min-height: 6lh;
  font-family: var(--font-family);
}

.qr-code {
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  align-items: center;
  border-radius: 16px;
  padding: var(--spacing-large) var(--spacing-medium);
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
  background: var(--color-secondary);
  border: 1px solid #eee;
}

.contact-list {
  flex: 1;
  overflow-y: auto;
}

.contact-card {
  display: grid;
  grid-template-areas: "img name" "img title";
  grid-template-columns: auto 1fr;
  column-gap: var(--spacing-small);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: var(--spacing-small);
  color: var(--color-primary);

  img {
    grid-area: img;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #ccc;
    height: 64px;
    width: 64px;
    margin-top: var(--spacing-small);
  }

  h3 {
    grid-area: name;
    align-self: end;
  }

  p {
    grid-area: title;
  }
}

.avatar {
  border-radius: 50%;
  border: 1px solid #ccc;
}

.invisible-link {
  text-decoration: none;
  * > {
    text-decoration: none;
  }
}

.small-button {
  font-size: var(--font-size-small);
  padding-block: var(--spacing-xs);
  padding-inline: var(--spacing-xs);
}

dialog {
  border: none;
  padding: var(--spacing-large);
  border-radius: 16px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
  align-self: center;
  justify-self: center;
  

  .actions {
    display: flex;
    gap: var(--spacing-small);
    justify-content: end;
  }
}

.contact-links {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  flex-wrap: wrap;
  align-items: center;
}