:root {
  --font-family: "Inter", sans-serif;
  --text-color-primary: #111;
  --text-color-secondary: #666;
  --color-ghost: #ccc;
  --text-size-small: 0.8rem;
  --text-size-medium: 1rem;
  --text-size-large: 1.2rem;
  --text-size-xlarge: 2rem;

  --brand-color-primary: #0d021b;
  --brand-color-secondary: #7626ff;

  --surface-color-primary: #fff;
  --surface-color-secondary: #fefefe;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  display: contents;
}

html {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

#root {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--brand-color-secondary);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  height: 6dvh;
  padding: 0 1rem;
  background-color: var(--brand-color-primary);

  h1 {
    font-size: var(--text-size-large);
    font-weight: 600;
  }
}

nav {
  height: 5dvh;
  display: flex;
  
  a {
    flex: 1;
    text-align: center;
    font-weight: 500;
    color: var(--text-color-secondary);
    border-bottom: 1px solid var(--text-color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    &.active {
      color: var(--text-color-primary);
      border-bottom: 1px solid var(--text-color-primary);
    }
  }
}

.qr-code {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.card {
  background-color: var(--surface-color-primary);
  color: var(--text-color-primary);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

main {
  flex: 1;
  background-color: var(--surface-color-secondary);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  overflow-y: auto;
}

:is(button, a.button) {
  background-color: var(--brand-color-secondary);
  border-radius: 1rem;
  padding: 1rem;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: var(--text-size-medium);
  font-family: var(--font-family);
  border: none;
  cursor: pointer;
}

:where(.stack-xs, .stack-sm, .stack-md, .stack-lg) {
  display: flex;
  flex-direction: column;
}

.stack-xs {
  gap: var(--spacing-xs);
}
.stack-sm {
  gap: var(--spacing-sm);
}
.stack-md {
  gap: var(--spacing-md);
}
.stack-lg {
  gap: var(--spacing-lg);
}

input {
  font-family: var(--font-family);
  border: 1px solid var(--color-ghost);
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: var(--text-size-medium);
  font-weight: 500;
}

label {
  font-size: var(--text-size-medium);
  font-weight: 500;
  color: var(--text-color-secondary);
}

.centered {
  align-items: center;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid var(--color-ghost);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  &.small {
    width: 50px;
    height: 50px;
  }
}


h2 {
  font-size: var(--text-size-xlarge);
  font-weight: 400;
}

h3 {
  font-size: var(--text-size-large);
  font-weight: 600;
}

h4 {
  font-size: var(--text-size-large);
  font-weight: 500;
}

.invisible-link {
  text-decoration: none;
  color: var(--text-color-primary);
}

.contact-card {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: var(--spacing-md);
  align-items: center;
}

.contact-title {
  font-size: var(--text-size-medium);
  font-weight: 500;
  color: var(--text-color-secondary);
}

hr {
  border: 0;
  border-top: 1px solid var(--color-ghost);
}

:where(.h-stack-xs, .h-stack-sm, .h-stack-md, .h-stack-lg, .h-stack-xl) {
  display: flex;
  flex-direction: row;
}

.h-stack-xs {
  gap: var(--spacing-xs);
}
.h-stack-sm {
  gap: var(--spacing-sm);
}
.h-stack-md {
  gap: var(--spacing-md);
}
.h-stack-lg {
  gap: var(--spacing-lg);
}

ul {
  list-style: none;
}

.fab {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
}

.contacts-list {
  padding-bottom: 80px;
}
