@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color-primary: #000;
  --text-color-secondary: #fff;

  --accent-color: #0080ff;
  --accent-color-dimmed: #0080ff66;

  --surface-color-primary: #fff;
  --surface-color-secondary: #f0f0f0;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;

  --font-family-primary: "Inter", sans-serif;

  --font-size-sm: 12px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
}

body {
  background-color: var(--surface-color-primary);
  color: var(--text-color-primary);
  font-family: var(--font-family-primary);
  display: contents;
  font-weight: 500;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100dvh;
}

header {
  background-color: var(--surface-color-secondary);
  padding: var(--spacing-md);
}

:where(.stack-xs, .stack-sm, .stack-md, .stack-lg, .stack-xl) {
  display: flex;
  flex-direction: column;

  &.centered {
    justify-content: center;
  }

  & > * {
    flex-grow: 1;
  }
}

:where(.h-stack-xs, .h-stack-sm, .h-stack-md, .h-stack-lg, .h-stack-xl) {
  display: flex;
  flex-direction: row;

  &.centered {
    align-items: center;
  }

  & > * {
    flex-grow: 1;
  }
}

:where(.stack-xs, .h-stack-xs) {
  gap: var(--spacing-xs);
}

:where(.stack-sm, .h-stack-sm) {
  gap: var(--spacing-sm);
}

:where(.stack-md, .h-stack-md) {
  gap: var(--spacing-md);
}

:where(.stack-lg, .h-stack-lg) {
  gap: var(--spacing-lg);
}

:where(.stack-xl, .h-stack-xl) {
  gap: var(--spacing-xl);
}

.text-sm {
  font-size: var(--font-size-sm);
}

.text-md {
  font-size: var(--font-size-md);
}

.text-lg {
  font-size: var(--font-size-lg);
}

.text-xl {
  font-size: var(--font-size-xl);
}

.text-2xl {
  font-size: calc(var(--font-size-xl) * 2);
}

.text-3xl {
  font-size: calc(var(--font-size-xl) * 3);
}
/*  */
nav {
  height: calc(var(--spacing-lg) * 2);
  display: flex;
  align-items: stretch;

  a {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: var(--text-color-primary);
    border-top: 2px solid var(--accent-color-dimmed);

    &.active {
      border-top-color: var(--accent-color);
      font-weight: 600;
    }
  }
}

/*  */
main {
  padding: var(--spacing-md);
}

/*  */
label {
  font-weight: 600;
}

input {
  border: 1px solid var(--accent-color-dimmed);
  border-radius: var(--spacing-xs);
  padding: var(--spacing-sm);
}

button {
  border: none;
  background-color: var(--accent-color);
  color: var(--text-color-secondary);
  padding: var(--spacing-sm);
  border-radius: var(--spacing-xs);
  font-size: var(--font-size-md);
}

/*  */
video {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: var(--spacing-sm);

  &.photo-view {
    border-radius: 50%;
  }
}

/*  */
.card {
  border-radius: var(--spacing-sm);
  border: 1px solid var(--accent-color-dimmed);
  padding: var(--spacing-md);
}

hr {
  border: 0;
  border-top: 1px solid var(--accent-color-dimmed);
}
